/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HEADER*/
.panaderiaNav {
  font-family: 'Mitr', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #B93160;
  text-align: center;
  padding-bottom: 3.125rem; }

.nav2 {
  display: none; }

nav {
  margin-top: 10px; }
  nav .navi {
    padding-left: 25.62rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center; }
    nav .navi :hover {
      transform: scale(0.9); }
    nav .navi li {
      display: inline-block;
      padding-right: 0.93rem; }
      nav .navi li a {
        text-decoration: none;
        color: black; }
    nav .navi span {
      padding-left: 18.75rem; }
      nav .navi span img {
        width: 2rem;
        height: 2rem; }

/*FOOTER*/
.footer {
  padding-top: 3.75rem;
  height: 50vh;
  display: grid;
  grid-template-areas: "panaderia-Footer contacto-Footer mapa-Footer horarios-Footer";
  grid-template-rows: 0.5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  background-color: #820000;
  color: white; }
  .footer .panaderiaFooter {
    grid-area: panaderia-Footer;
    text-align: center; }
  .footer .contactoFooter {
    grid-area: contacto-Footer;
    text-align: center; }
    .footer .contactoFooter .contbold {
      font-weight: bold; }
  .footer .mapaFooter {
    grid-area: mapa-Footer; }
  .footer .horariosFooter {
    grid-area: horarios-Footer;
    text-align: center; }

/*MAIN DE INDEX*/
/*SECTION*/
.amoratodo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6.25rem;
  width: 100%; }
  .amoratodo .amoratodo__div .amoratodo__h2 {
    margin: 1.25rem;
    font-family: 'Mitr', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .amoratodo .amoratodo__div .pamor {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    margin: 1.5rem; }
  .amoratodo .amoratodo__img {
    padding-right: 1.25rem; }

/*SECT. PRODU*/
.produ {
  font-family: 'Mitr', sans-serif;
  font-size: 1.87rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.produimg {
  width: 100%;
  padding: 5rem;
  text-align: center; }
  .produimg .produimg__1 {
    width: 25rem;
    height: 12.43rem; }
  .produimg .produimg__3 {
    width: 23.125rem;
    height: 12.43rem; }

/*QUIENES SOMOS*/
.somosfam {
  background-color: #e8dcdc;
  display: flex;
  flex-direction: row; }
  .somosfam div .ptitulo {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 1rem;
    color: #B93160;
    font-size: 2.5rem; }
  .somosfam div p {
    margin: 2rem;
    text-align: center; }

.somospan {
  background-color: #e8dcdc;
  display: flex;
  flex-direction: row-reverse; }
  .somospan div .ptitupan {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 1rem;
    color: #B93160;
    font-size: 2.5rem; }
  .somospan div p {
    margin: 2rem;
    text-align: center; }

.artesanalyabun {
  height: 25rem;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .artesanalyabun .artesanaltit {
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding: 1rem;
    color: black;
    font-size: 2.5rem; }
  .artesanalyabun p {
    margin: 1.5rem;
    text-align: center; }
  .artesanalyabun form input {
    width: 10rem;
    height: 3rem;
    margin-left: 84rem;
    margin-top: 6rem;
    background: transparent;
    border: 2px solid #B93160;
    border-radius: 6px; }

.youtube {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin-bottom: 20px; }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*PRODUCTOS*/
.productos {
  background-image: url(../img/ales-krivec-QnNqGoCnBg0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  color: white;
  text-align: center;
  margin-bottom: 9px; }
  .productos h2 {
    padding-top: 1.87rem;
    font-size: 5rem; }
  .productos p {
    padding: 1.25rem 6.25rem 1.25rem 6.25rem;
    font-size: x-large; }

.productos__pan {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  margin: 0.56rem 0px 0.56rem 0px; }
  .productos__pan .productos__pan-row {
    background-color: rgba(255, 255, 255, 0.9);
    color: #86421d;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.18rem; }
    .productos__pan .productos__pan-row .productos__pan ul {
      text-decoration: none;
      font-style: italic; }
  .productos__pan .pancitoimg {
    width: 100%;
    text-align: center; }
    .productos__pan .pancitoimg .pancito {
      width: 6.25rem;
      align-items: center;
      text-align: center;
      justify-items: center; }

/*CATERING*/
.capacat {
  background-color: #B93160;
  color: white;
  text-align: center;
  padding: 2rem; }
  .capacat p {
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5rem; }
  .capacat div {
    text-align: right; }
    .capacat div .pancin {
      width: 3.5rem; }

.cateringbg {
  background-color: #edb4c8; }
  .cateringbg .catflex {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .cateringbg .catflex p {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold; }
  .cateringbg .catmixto {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold; }
  .cateringbg .pregunta {
    padding: 1rem;
    color: #B93160;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold; }

/*CONTACTOS*/
header nav {
  font-family: Roboto; }

main {
  font-family: Roboto; }
  main .contactanos {
    background-color: #bac7ba;
    width: 100%;
    height: 100%;
    font-family: Roboto; }
    main .contactanos .contacttit {
      text-align: center;
      font-size: 2.5rem;
      font-weight: bolder;
      padding: 1rem; }
    main .contactanos .pcontact {
      font-size: 1.2rem;
      text-align: center;
      font-family: Roboto; }
    main .contactanos .caja0 {
      padding: 0.5rem;
      font-size: 1.3rem;
      text-align: center;
      font-family: Roboto; }
      main .contactanos .caja0 p {
        font-family: Roboto;
        font-style: italic;
        text-align: center; }
      main .contactanos .caja0 .caja1 {
        width: 20rem;
        height: 1.5rem;
        box-shadow: 1px 1px grey;
        border-radius: 2px;
        font-family: Roboto; }
      main .contactanos .caja0 .caja2 {
        width: 50rem;
        height: 4rem;
        padding-left: 0.5rem;
        box-shadow: 1px 1px grey;
        font-family: Roboto; }
  main .imgcontacto {
    padding-top: 0rem;
    width: 95rem; }

/*QUERIES*/
@media screen and (max-width: 1400px) {
  /*NAV*/
  h1 {
    display: none; }
  nav {
    display: none; }
  nav .redesNav2 img {
    width: 1.5rem;
    height: 1.5rem; }
  nav .titnavbar {
    color: #B93160;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none; }
  /*INDEX*/
  .amoratodo {
    padding: 0.9rem;
    display: flex;
    flex-direction: column; }
  .amoratodo__img {
    width: 105%;
    text-align: center; }
  .produ, .produimg {
    display: none; }
  /*FOOTER*/
  .footer {
    margin-top: 0.62rem;
    padding-top: 3.75rem;
    height: 90vh;
    display: grid;
    grid-template-areas: "panaderia-Footer"  "contacto-Footer"  "mapa-Footer"  "horarios-Footer";
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
    background-color: #820000;
    color: white; }
  .panaderiaFooter {
    grid-area: panaderia-Footer;
    text-align: center; }
  .contactoFooter {
    grid-area: contacto-Footer;
    text-align: center; }
  .mapaFooter {
    grid-area: mapa-Footer;
    text-align: center; }
  .horariosFooter {
    grid-area: horarios-Footer;
    text-align: center; }
  .contbold {
    font-weight: bold; }
  .productos h2 {
    font-size: 3rem; }
  .productos p {
    font-size: 1.1rem; }
  .productos__pan ul {
    font-size: 1rem; }
  .produimg2 {
    display: none; }
  /*CATERING*/
  .cateringbg .catflex {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .cateringbg .catflex img {
      width: 27rem; }
  .catmixto img {
    width: 27rem; }
  /*CONTACTO*/
  .imgcontacto {
    display: none; }
  /*PRODUCTOS*/
  .productos__img img {
    display: none; }
  /*QUIENES SOMOS*/
  .somospan img {
    display: none; }
  .somosfam img {
    display: none; } }
