/*CONTACTOS*/
main {
.contactanos {
    background-color: rgb(186, 199, 186);
    width: 100%;
    height: 23rem;
    .contacttit {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bolder;
        padding: 1.5rem;
        
    }
    .pcontact {
        padding-top: 3rem;
        font-size: 1.3rem;
        }

}

.imgcontacto {
    width: 95rem;
}
}