/*QUERIES*/

@media screen and (max-width:1400px) {
     
 h1 {
    display: none;
 }  
 nav {
    display: none;
 }
 nav { 
    .redesNav2 {
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
 }
    .amoratodo {
        padding: 0.9rem;
        display: flex;
        flex-direction: column;
    }
    .amoratodo__img {
        width: 105%;
        text-align: center;

    }
    .produ, .produimg {
        display: none;
    }
        .footer {
            margin-top: 0.62rem;
            padding-top: 3.75rem;
            height: 90vh;
            display: grid;
            grid-template-areas: 
            "panaderia-Footer" 
            "contacto-Footer" 
            "mapa-Footer" 
            "horarios-Footer";
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-columns: 1fr; 
            row-gap: 10px;
            background-color: #820000;
            color: white;
                }
            .panaderiaFooter {
                grid-area: panaderia-Footer;
            text-align: center;

            }
        
            .contactoFooter {
                grid-area: contacto-Footer;
                text-align: center;
            }
            
            .mapaFooter { 
                grid-area: mapa-Footer;
                text-align: center;
            }
        
            .horariosFooter {
              grid-area: horarios-Footer;
              text-align: center;
            }
        
            .contbold {
                font-weight: bold;
            }
    
    .productos h2 {
        font-size: 3rem;
    }
    .productos p {
        font-size: 1.1rem;
    }
    .productos__pan ul {
        font-size: 1rem;
        
    } .produimg2 { display: none;}
        }

