/*QUIENES SOMOS*/

.somosfam {
    background-color: rgb(232, 220, 220);
    display: flex;
    flex-direction: row;
    div {
        .ptitulo {
            justify-content: center;
            align-items: center;
            text-align: center;
            justify-items: center;
            padding: 1rem;
            color: #B93160;
            font-size: 2.5rem;
            
        }
        p {
            margin: 2rem;
            text-align: center;
        }
    }
}
.somospan {
    background-color: rgb(232, 220, 220);
    display: flex;
    flex-direction: row-reverse; 
    div {
        .ptitupan{
            justify-content: center;
            align-items: center;
            text-align: center;
            justify-items: center;
            padding: 1rem;
            color: #B93160;
            font-size: 2.5rem;
        }
        p {
            margin: 2rem;
            text-align: center;
        }
    }
}
.artesanalyabun {
    height: 25rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    .artesanaltit {
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        padding: 1rem;
        color: black;
        font-size: 2.5rem;
    }
    p {
        margin: 1.5rem;
        text-align: center;
    }
    form  {
        input {
width: 10rem;
height: 3rem;
margin-left: 84rem;
margin-top: 6rem;
background: transparent;
border: 2px solid #B93160;
border-radius: 6px;
}
    }

}
.youtube {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.2%;
    margin-bottom: 20px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}